<div class="w-full min-h-screen bg-gray-100 pt-16 pl-64">


  <div class="p-8 text-sm text-gray-800">
    <div
      class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
      <h1 class="text-2xl font-semibold whitespace-nowrap">Books</h1>
      <h6>{{booksFound}} books found</h6>
    </div>
    <div>
      <form action="" class="flex">
        <input type="text" placeholder="Search Genre"
          class="w-full px-4 py-3 text-gray-600 rounded-md focus:outline-none" />
        <input type="submit" class="px-3 bg-purple-800 text-white cursor-pointer" value="Search">
      </form>
      <!-- <div style="position: relative;">
        <div style="position: absolute;top: 0;left: 0; width: 100%; height: 100px;" class="bg-white">
          <div class="w-full flex justify-between px-6 py-4 hover:bg-slate-50 cursor-pointer">
            <h5>JK Rollins</h5>
          </div>
          <hr>
          <div class="w-full flex justify-between px-6 py-4 hover:bg-slate-50 cursor-pointer">
            <h5>Harry Puttar</h5>
          </div>
        </div>
      </div> -->
    </div>


    <div class="flex flex-col mt-6">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden border-b border-gray-200 rounded-md shadow-md">
            <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    <form [formGroup]="namefilter">
                      <select class="w-full px-4 py-3 outline-none" formControlName="name">
                        <option value="">Name</option>
                        <option *ngFor="let book of bookData" value={{book.id}}>{{book.id}}</option> 
                      </select>
                    </form>
                  </th>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    <form [formGroup]="authorfilter">
                    <select class="w-full px-4 py-3 outline-none" formControlName="author">
                      <option value="">Author</option>
                      <option *ngFor="let book of bookData" value={{book.data.author}}>{{book.data.author}}</option>
                    </select>
                  </form>
                  </th>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    <form [formGroup]="genrefilter">
                      <select class="w-full px-4 py-3 outline-none" formControlName="genre">
                        <option value="">Genre</option>
                        <option value="Friction">Friction</option>
                        <option value="Non-Friction">Non-Friction</option>
                      </select>
                    </form>
                  </th>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  </th>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">

                  </th>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    <form [formGroup]="yearfilter">
                      <select class="w-full px-4 py-3 outline-none" formControlName="year">
                        <option value="">Year of Publishing</option>
                        <option *ngFor="let book of bookData" [value]="book.data.date">{{book.data.date.toDate().toISOString().split('T')[0]}}</option>
                      </select>
                    </form>
                  </th>
                  <th scope="col" class=" text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    <form [formGroup]="sort" >
                      <select formControlName="sortby" class="w-full px-4 py-3 outline-none">
                        <option value="">Sort By</option>
                        <option *ngFor="let state of sortstates" [ngValue]="state.value">
                          {{ state.name }}
                        </option>
                      </select>
                    </form>
                  </th>
                </tr>
              </thead>
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Name
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Author
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Genre
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Status
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Copies
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Year of publishing
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let book of showBookData" class="transition-all hover:bg-gray-100 hover:shadow-lg">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="">
                        <div class="text-sm font-medium text-gray-900" #bookid>{{book.id}}</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="">
                        <div class="text-sm font-medium text-gray-900">{{book.data.author}}</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">{{book.data.subject}}</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap" >
                    <p style="display: none;" >{{book.data.coopies}}</p>
                    <span *ngIf="book.data.copies > 0"
                      class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                      Available
                    </span>
                    <span *ngIf="book.data.copies == 0"
                      class="inline-flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full">
                      Unavailable
                    </span>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap" #bookcopies>{{book.data.copies}}</td>
                  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{book.data.date.toDate().toISOString().split('T')[0]}}</td>
                  <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                    <button class="text-indigo-600 hover:text-indigo-900 cursor-pointer" (click)="addtocart(bookid.innerHTML,bookcopies.innerHTML)">Add To Cart</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
