<div class="w-full min-h-screen bg-gray-100 pt-16 pl-64">


  <div class="p-8 text-sm text-gray-800">
    <div
      class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
      <h1 class="text-2xl font-semibold whitespace-nowrap">Profile</h1>
    </div>
    <div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
          <div class="flex items-start justify-between">
            <div class="flex flex-col space-y-2">
              <span class="text-gray-400">Total Books</span>
              <span class="text-lg font-semibold">{{number}}</span>
            </div>
            <div class="p-10 rounded-md"
              style="background: url(https://images.inc.com/uploaded_files/image/1920x1080/getty_655998316_2000149920009280219_363765.jpg) center center no-repeat; background-size: cover;">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
          <div class="flex items-start justify-between">
            <div class="flex flex-col space-y-2">
              <span class="text-gray-400">Books Issued</span>
              <span class="text-lg font-semibold">{{issuedBooksNumber}}</span>
            </div>
            <div class="p-10 rounded-md"
              style="background: url(https://i.guim.co.uk/img/media/77e3e93d6571da3a5d77f74be57e618d5d930430/0_0_2560_1536/master/2560.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=c99740fab952ee29d238d75272b98a61) center center no-repeat; background-size: cover;">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
          <div class="flex items-start justify-between">
            <div class="flex flex-col space-y-2">
              <span class="text-gray-400">Authors</span>
              <span class="text-lg font-semibold">{{issuedBooksNumber}}</span>
            </div>
            <div class="p-10  rounded-md"
              style="background: url(https://assets.aboutamazon.com/dims4/default/71b222e/2147483647/strip/true/crop/2000x1074+0+130/resize/1440x773!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F56%2F01%2F834aa61747c19ef723f0b48ec134%2F20180517nealthompsonauthor-js-11.jpg) center center no-repeat; background-size: cover;">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
          <div class="flex items-start justify-between">
            <div class="flex flex-col space-y-2">
              <span class="text-gray-400">Genre</span>
              <span class="text-lg font-semibold">{{genrenumber}}</span>
            </div>
            <div class="p-10 rounded-md"
              style="background: url(https://static.tvtropes.org/pmwiki/pub/images/genres.png) center center no-repeat; background-size: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-6 text-xl">Books Issued</h3>

    <div class="flex flex-col mt-6">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden border-b border-gray-200 rounded-md shadow-md">
            <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Name
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Author
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Genre
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Year of publishing
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let book of issuedBooks" class="transition-all hover:bg-gray-100 hover:shadow-lg">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="">
                        <div class="text-sm font-medium text-gray-900" #bookname>{{book.name}}</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="">
                        <div class="text-sm font-medium text-gray-900">{{book.author}}</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900">{{book.subject}}</div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">{{book.date.toDate().toISOString().split('T')[0]}}</td>
                  <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                    <button class="text-indigo-600 hover:text-indigo-900" (click)="returnbook(bookname.innerHTML)">Return</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
